<ul class="nav nav-pills nav-stacked span3">
      <li class="active"> <a href="#profile"  class="dashboardMenu" data-toggle="tab">Profile</a></li>   
      <li><a href="#assets" class="dashboardMenu" data-toggle="tab" >Sonic Assets ( Up Loader)</a></li>
      <li><a href="#community" class="dashboardMenu" data-toggle="tab" >Sonic Community</a></li> 
      <li><a href="#stats" class="dashboardMenu" data-toggle="tab">Sonic Stats</a></li> 
 </ul>