<div class="row-fluid">
    <div class="tabbable tabs-left" >
           {{>//sonicplatform/menu/templates/menuhorizontal.mustache}}
		    <div class="tab-content span9">
		         <div id="profile"  class="tab-pane active" >
		             A profile will go here!
		         </div>
		         <div id="assets" class="tab-pane">
		              {{>//sonicplatform/dashboardModule/templates/partials/beatUploader.mustache}}
		          </div>
		          <div id="community" class="tab-pane" >
		                Messages from others in the community!
		           </div>
		           <div id="stats" class="tab-pane" >
		                   Statistical information about your current songs, beats, participation!
		           </div>
		   </div>
    </div>
</div>