     <div class="page-header">
		<h2> Nocsonic Login</h2>
	</div>
	<div>
		<form class="form-horizontal" method="POST" action="/login">
	       <div class="control-group">
	    		<label class="control-label" for="username">Username</label>
	    		<div class="controls">
	    			<input type="text" autofocus="" placeholder="username" name="username">
	    		</div>
	      </div>
          <div class="control-group">
               <label class="control-label" for="password">Password</label>
               <div class="controls">
                  <input type="password" placeholder="password" name="password">
               </div>
          </div>
          <div class="control-group">
           	<div class="controls">
			     <button id="login-button" class="btn btn-primary" value="Log Me In!" type="submit">Login</button>
			     <a href="#!/registration"  class="btn btn-inverse">Register</a>
		    </div>
          </div>
	  </form>
</div>