<div class='span9'>
<div class="page-header ">
    <h2> Nocsonic Beat Upload</h2>
</div>
<form id="uploadbanner" action="#" method="post"  type="multipart/form-data"  class="form-horizontal">
	<div class="control-group">
	    <label class="control-label" for="inputTitle">Title:</label>
	    <div class="controls">
	        <input type="text" name="title" id="beatTitle" />
	        <div class="validation-bubble"><div /></div>
	    </div>
	</div>
    <div class="control-group">
	    <label class="control-label" for="inputGenre">Genre:</label>
	    <div class="controls">
	        <input type="text" name="genre" id="beatGenre" />
	        <div class="validation-bubble"><div /></div>
	    </div>
    </div>
    <div class="control-group">
	    <label class="control-label" for="inputGenre">Browse For Beat:</label>
	    <div class="controls">
           <input id = "fileupload" type = "file" />
	        <div class="validation-bubble"><div /></div>
	    </div>
    </div>
    <div class="form-actions">
         <button type="submit" id="#uploadBeatButton" class="btn btn-primary" >UPLOAD BEAT</button>
        <a class="btn" href="/">Cancel </a>
    </div>
</form>
</div>