<div class="navbar-inner">
		<div class="container-fluid">
			<button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
         </button>
         <a class="brand" href="/">NocSonic Platform</a>
         <div class="pull-right">
				<ul class="nav">
				    <li class="dropdown">
						<a class="dropdown-toggle" href="{{{ href }}}"> {{label}}
							<b class="caret"></b>
					    </a>
					</li>
				</ul>
			</div>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active">
						<a href="/">Home</a>
					</li>
					<li class="">
						<a href="/profile">Profile</a>
					</li>
					<li class="">
						<a href="/about">About</a>
					</li>
				</ul>
          </div>
     </div>
 </div>